html {
}

body {
    background: url(images/background.jpg) no-repeat 50% 0;
    font: 14px Arial;
}

div.centered {
    color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

div.oil-stations-info {
    color: #333;
    width: 50%;
    height: 50%;
    min-width: 850px;
    padding: 20px;
    background: #e1f5fe;
    display: flex;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    flex-direction: row;
}

h2 {
    margin-top: 0;
}

div.oil-station-block {
    width: 620px;
    display: flex;
    flex-direction: column;
}

div.calculate-button-block {
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.calculate-button-block div.button-container {
    padding: 20px;
    background: rgba(0,0,0,0.1);
}

div.calculate-button-block div.button-container button {
    font-size: 24px;
}

div.calculate-button-block div.button-container button:not(:disabled) {
    cursor: pointer;
}

div.oil-station-parameters {
    display: flex;
    flex-direction: column;
}

div.oil-station-parameters div {
    display: flex;
    text-align: left;
    align-items: center;
}

div.oil-station-parameters div label {
    width: 375px;
}

div.oil-station-parameters div.radio-inputs-container {
    flex-direction: column;
}

div.oil-station-parameters div.radio-inputs-container div {
    display: flex;
    flex-direction: row;
}

div.oil-station-parameters div.radio-inputs-container div div {
    width: 60px;
    line-height: 32px;
}

div.oil-station-parameters div input[type="number"] {
    width: 200px;
    border: 2px #03a9f4 solid;
    font-size: 16px;
    height: 28px;
    margin: 5px 15px 0 0;
    text-align: right;
}

div.result {
    margin-top: 10px;
    background: white;
    color: black;
    padding: 0 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

div.oil-stations-select {
    margin-bottom: 10px;
    background: white;
    color: black;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

div.result h2 {
    margin-top: 10px;
}

.hidden {
    display: none !important;
}